@page "/"
@page "/dashboard"
@using HotelWiz.Common.Dto.Dashboard;
@using HotelWiz.Data
@using HotelWiz.Services;
@using HotelWiz.Shared.Components
@using S11.Common.Dto.Reservation;
@using S11.Services;
@inject DashboardService _dashboardService
@inject AuthenticationStateProvider GetAuthenticationStateAsync

<PageTitle>Dashboard</PageTitle>


<AuthorizeView>
    <Authorized>
        Authorized
        @userName
    </Authorized>
    <NotAuthorized>

        Not authorized

        <a href="/auth/account/login?redirectTo=dashboard" >Login</a>
    </NotAuthorized>
</AuthorizeView>
<h1>Dashboard</h1>

@if (dashboardResume == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <table class="table">
        <tr>
            <td>
                <DashboardCard Value="@dashboardResume.Rooms.TotalFree" Class="oi oi-arrow-bottom" Title="Total Habitaciones" />
            </td>
            <td>
                <DashboardCard Value="@dashboardResume.Rooms.TotalFree" Class="oi oi-arrow-bottom" Title="Habitaciones" />
            </td>
            <td>
                <DashboardCard Value="@dashboardResume.Rooms.TotalFree" Class="oi oi-arrow-bottom" Title="Habitaciones" />
            </td>
            <td>
                <DashboardCard Value="@dashboardResume.Rooms.TotalFree" Class="oi oi-arrow-bottom" Title="Habitaciones" />
            </td>
        </tr>
        <tr>
            <td>
                <DashboardCard Value="@dashboardResume.Rooms.TotalFree" Class="oi oi-arrow-bottom" Title="Habitaciones" />
            </td>
            <td>
                <DashboardCard Value="@dashboardResume.Rooms.TotalFree" Class="oi oi-arrow-bottom" Title="Habitaciones" />
            </td>
            <td>
                <DashboardCard Value="@dashboardResume.Rooms.TotalFree" Class="oi oi-arrow-bottom" Title="Habitaciones" />
            </td>
            <td>
                <DashboardCard Value="@dashboardResume.Rooms.TotalFree" Class="oi oi-arrow-bottom" Title="Habitaciones" />
            </td>
        </tr>

    </table>
}

@code {
    private TempDashBoardResponse? dashboardResume;
    private string? userName;

    protected override async Task OnInitializedAsync()
    {
        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var user = authstate.User;
        userName = user.Identity.Name;
        dashboardResume = await _dashboardService.GetDashboardBoardResponse();
    }
}