@page "/editar-habitacion/{id}"
@using HotelWiz.Back.Common.Dto.Room;
@using HotelWiz.Back.Services;
@inject RoomService roomService
@inject NavigationManager NavigationManager


<h1 class="text-3xl mb-2.5" tabindex="-1">Editar Habitación</h1>

@if (habitacion != null)
{
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Número de Habitación</label>
                    <input type="text" class="form-control" @bind="@habitacion.RoomNumber" />
                </div>
                <div class="form-group">
                    <label>Tipo</label>
                    <input type="text" class="form-control" @bind="@habitacion.Type" />
                </div>
                <div class="form-group">
                    <label>Imagen</label>
                    <input type="text" class="form-control" @bind="@habitacion.ImageUrl" />
                </div>
                <div class="form-group">
                    <label>Capacidad</label>
                    <input type="text" class="form-control" @bind="@habitacion.Capacity" />
                </div>
                <div class="form-group">
                    <label>Estado</label>
                    <select class="form-control" @bind="@habitacion.Status">
                        <option value="Libre">Libre</option>
                        <option value="Reservada">Reservada</option>
                        <option value="Mantenimiento">Mantenimiento</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Descripción</label>
                    <textarea class="form-control" @bind="@habitacion.Description"></textarea>
                </div>
                <div class="form-group">
                    <label>Precio por Noche</label>
                    <input type="text" class="form-control" @bind="@habitacion.Price" />
                </div>
                <div>
             
                <button class="px-6 py-2 rounded-lg bg-purple-600 text-white" @onclick="GuardarCambios">Guardar</button>
                 

                    <button class="px-6 py-2 rounded-lg bg-purple-600 text-white" @onclick="AsignarReserva">Asignar Reserva</button>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <p>Cargando la habitación...</p>
}

@code {
    [Parameter]
    public string id { get; set; }

    private RoomDto habitacion;

    protected override async Task OnInitializedAsync()
    {
        habitacion = roomService.GetRoomById(int.Parse(id));
    }
    private void AsignarReserva()
    {

        NavigationManager.NavigateTo($"/habitacion-reserva/{habitacion.RoomId}");

    }
    private void GuardarCambios()
    {
        roomService.UpdateRoom(habitacion);
        NavigationManager.NavigateTo("/habitaciones");

    }
}
