@page "/index"
@using HotelWiz.Data
@using S11.Common.Dto.Reservation;
@using S11.Services;
@inject ReservationsService _reservationsService

<PageTitle>Reservaciones</PageTitle>

<h1>Reservaciones</h1>
<button >Nueva Reserva</button>
@if (reservations == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th>Nro.Reserva</th>
                <th>Nombre huesped</th>
                <th>Estado reserva</th>
                <th>Tipo.Hab</th>
                <th>Check-in </th>
                <th>Check-out</th>
                <th>Valor</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var res in reservations)
            {
                <tr>
                    <td>@res.ReservationConsecutive</td>
                    <td>@res.GuestName</td>
                    <td>@res.Status</td>
                    <td>Rooms</td>
                    <td>@res.CheckInExpectedDate.Value.ToShortDateString()</td>
                    <td>@res.CheckOutExpectedDate.Value.ToShortDateString()</td>
                    <td>@res.Value</td>
                    <td><button class="oi-envelope-open"/></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<ReservationDto>? reservations;

    protected override async Task OnInitializedAsync()
    {
        reservations = _reservationsService.GetAllReservations();
    }
};